@model DoAnMon.Models.De

@{
    ViewBag.Title = "ThemmoiDe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 cl="mb-2">Thêm Đề</h2>
        </div>
        <a @Html.ActionLink("Trang chủ Đăng Nhập", "Index", "Admin")</a> » <span class="breadcrumb_last" aria-current="page">Thêm Đề</span>
    </div>
</nav>
<!-- !contact breadcrumbs -->
<section class="w3l-blog">
    <div class="single blog pb-5 pt-md-4 pt-2">
        <aside class="container pb-lg-3">
                <h2>THÊM ĐỀ</h2>

                @using (Html.BeginForm("ThemmoiDe", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TenDe, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.TenDe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenDe, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Giaban, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ThôngTin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.ThôngTin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ThôngTin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Anhbia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    <input type="file" name="fileUpload" />
                    @*thong bao trung*@
                    @ViewBag.Thongbao
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ngaycapnhat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    <input type="date" name="Ngaycapnhat" />
                    @Html.ValidationMessageFor(model => model.Ngaycapnhat)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Soluongton, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaBoDe, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.DropDownList("MaBoDe")
                </div>
            </div>
            <div class="wthree-field form-group">
                <input value="Thêm" type="submit" class="btn col-md-offset-2">
                </input>
            </div>
       </div>
                }
                <div class="btn col-md-offset-2">
                    @Html.ActionLink("Trở về", "De")
                </div>
        </aside>
    </div>
</section>