@model DoAnMon.Models.BoDe

@{
    ViewBag.Title = "Xoabode";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 cl="mb-2">Xóa Bộ Đề</h2>
        </div>
        <a @Html.ActionLink("Trang chủ Đăng Nhập", "Index", "Admin")</a> » <span class="breadcrumb_last" aria-current="page">Xóa Bộ Đề</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- !contact breadcrumbs -->
<section class="w3l-blog">
    <div class="single blog pb-5 pt-md-4 pt-2">
        <aside class="container pb-lg-3">
                <aside>
                <h2>XÁC NHẬN XÓA BỘ ĐỀ?</h2>
                </aside>
                <aside>
                    <aside class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.TenBoDe)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TenBoDe)
                        </dd>

                    </aside>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="wthree-field mt-4">
                            <input type="submit" value="Xóa" class="btn btn-default" />
                        </div>
                        <div class="wthree-field mt-4">
                            @Html.ActionLink("Trở về", "BoDe")
                        </div>
                    }
                    </aside>
            </aside>
    </div>
</section>