
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- contact breadcrumbs -->
<table align="center">
    <h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN 1</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Họ tên khách hàng:</td>
            <td>
                @Html.TextBox("HoTen")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td> Tên đăng nhật:</td>
            <td>
                @Html.TextBox("TaiKhoan")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>  Mật khẩu:</td>
            <td>
                @Html.Password("Matkhau")
                @ViewData["Loi3"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Mật khẩu nhậtr lại: </td>
            <td>
                @Html.Password("Matkhaunhatrlai")
                @ViewData["Loi4"]
            </td>
        </tr>


        <tr style="height:40px">
            <td> Email:</td>
            <td>
                @Html.TextBox("Email")
                @ViewData["Loi5"]
            </td>
        </tr>

        <tr style="height:40px">
            <td>Điện thoại:</td>
            <td>
                @Html.TextBox("Dienthoai")
                @ViewData["Loi6"]
            </td>
        </tr>
        <tr style="height:40px">
            <td> Ngày sinh :</td>
            <td>
                <input type="date" name="Ngaysinh" />
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Đăng ký" />
            </td>
        </tr>
    }
</table>
