
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Tạo tài khoản</h2>
        </div>
        <a href="index.html">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Tạo tài khoản</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- index-block1 -->
<div class="w3l-index1">
    <div class="content1">
            <div class="col-auto">
                <!-- /SignUp-section -->
                <section class="w3l-login-6">
                    <div class="login-hny">
                        <div class="form-content">
                            <div class="form-right">
                                <div class="overlay">
                                    <div class="grid-info-form">
                                        <h5>Xi chào</h5>
                                        <h3>Bạn đã có tài khoản</h3>
                                        <p>
                                            Trở về trang đăng nhập tại đây
                                        </p>
                                        <a href="https://localhost:44346/Home/SignIn?Length=4" class="read-more-1 btn">Đăng nhập</a>
                                    </div>

                                </div>
                            </div>
                            <div class="form-left">
                                <div class="middle">
                                    <h4>Thông tin của bạn</h4>
                                    <p>Tạo tài khoản của bạn, hoàn toàn miễn phí.</p>
                                </div>
                                <form action="#" method="post" class="signin-form">
                                    <div class="form-input">
                                        <label>Tên đăng nhập</label>

                                        <td>
                                            @Html.TextBox("TenDN")
                                            @ViewData["Loi1"]
                                        </td>
                                    </div>

                                    <div class="form-input">
                                        <label>Mật khẩu</label>

                                        <td>
                                            @Html.Password("Matkhau")
                                            @ViewData["Loi2"]
                                        </td>
                                    </div>

                                    <div class="form-input">
                                        <label>Email</label>
                                        <td>
                                            @Html.TextBox("Email")
                                            @ViewData["Loi3"]
                                        </td>
                                    </div>


                                    <label class="container">
                                        Bạn đồng ý với <a href="#">điều khoản</a><a href="#"> của chúng tôi </a>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <button class="btn">Tạo tài khoản</button>
                                </form>
                            </div>

                        </div>

                    </div>
                </section>
                <!-- //SignUp-section -->
            </div>
            <div class="clear"></div>
    </div>
</div>
<!-- //index-block1 -->
</body>
<!-- //Body -->
