
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">SignUp</h2>
        </div>
        <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">SignUp</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- index-block1 -->
<div class="w3l-index1">
    <div class="content1">
            <div class="col-auto">
                <!-- /SignUp-section -->
                <section class="w3l-login-6">
                    <div class="login-hny">
                        <div class="form-content">
                            <div class="form-right">
                                <div class="overlay">
                                    <div class="grid-info-form">
                                        <h5>Say hello</h5>
                                        <h3>CREATE ACCOUNT </h3>
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est natus facere aperiam!
                                            Tenetur maiores dolore a quod pariatur ut voluptates quae saepe ea quasi laudantium,
                                            iste molestias inventore fuga assumenda.
                                        </p>
                                        <a href="index.html" class="read-more-1 btn">Get Started</a>
                                    </div>

                                </div>
                            </div>
                            <div class="form-left">
                                <div class="middle">
                                    <h4>Join Us</h4>
                                    <p>Create Your Account, It's Free.</p>
                                </div>
                                <form action="#" method="post" class="signin-form">
                                    <div class="form-input">
                                        <label>Name</label>

                                        <td>
                                            @Html.TextBox("TenDN")
                                            @ViewData["Loi1"]
                                        </td>
                                    </div>

                                    <div class="form-input">
                                        <label>Password</label>

                                        <td>
                                            @Html.Password("Matkhau")
                                            @ViewData["Loi2"]
                                        </td>
                                    </div>

                                    <div class="form-input">
                                        <label>Email</label>
                                        <td>
                                            @Html.TextBox("Email")
                                            @ViewData["Loi3"]
                                        </td>
                                    </div>


                                    <label class="container">
                                        I agree to <a href="#">Conditions</a> of Use and <a href="#">Privacy</a>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <button class="btn">Create account</button>
                                </form>
                            </div>

                        </div>

                    </div>
                </section>
                <!-- //SignUp-section -->
            </div>
            <div class="clear"></div>
    </div>
</div>
<!-- //index-block1 -->
</body>
<!-- //Body -->
