
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Tạo tài khoản</h2>
        </div>
        <a @Html.ActionLink("Trang chủ", "Index", "Home")</a><span class="breadcrumb_last" aria-current="page">Tạo tài khoản</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- index-block1 -->
<div class="w3l-index1">
    <div class="content1">
        <div class="col-auto">
            <!-- /SignUp-section -->
            <section class="w3l-login-6">
                <div class="login-hny">
                    <div class="form-content">
                        <div class="form-right">
                            <div class="overlay">
                                <div class="grid-info-form">
                                    <h5>Xin chào</h5>
                                    <h3>Bạn đã có tài khoản?</h3>
                                    <p>
                                        Trở về trang đăng nhập tại đây
                                    </p>
                                    <button class="btn btn-default read-more-1" type="submit">@Html.ActionLink("Đăng Nhập", "SignIn", "Home")</button>
                                </div>

                            </div>
                        </div>
                        <div class="form-left">
                            <div class="middle">
                                <h4>Thông tin của bạn</h4>
                                <p>Tạo tài khoản của bạn, hoàn toàn miễn phí.</p>
                            </div>
                            <form action="#" method="post" class="signin-form">
                                <div class="form-input">
                                    <h4>Họ Tên</h4>

                                    <td>
                                        @Html.TextBox("HoTen")
                                        <h4 class="alert-danger wthree-field">@ViewData["Loi1"]</h4>
                                    </td>
                                </div>

                                <div class="form-input">
                                    <h4>Tài Khoản</h4>

                                    <td>

                                        @Html.TextBox("TaiKhoan")
                                        <h4 class="alert-danger wthree-field">@ViewData["Loi2"]</h4>
                                    </td>
                                </div>

                                <div class="form-input">
                                    <h4>Mật Khẩu</h4>
                                    <td>

                                        @Html.Password("Matkhau")
                                        <h4 class="alert-danger wthree-field">@ViewData["Loi3"]</h4>
                                    </td>
                                </div>

                                <div class="form-input">
                                    <h4>Nhập Lại Mật Khẩu</h4>

                                    <td>

                                        @Html.Password("Matkhaunhatrlai")
                                        <h4 class="alert-danger wthree-field">@ViewData["Loi4"]</h4>
                                    </td>
                                </div>

                                <div class="form-input">
                                    <h4>Email</h4>

                                    <td>

                                        @Html.TextBox("Email")
                                        <h4 class="alert-danger wthree-field">@ViewData["Loi5"]</h4>
                                    </td>
                                </div>

                                <div class="form-input">
                                    <h4>Điên Thoại</h4>

                                    <td>

                                        @Html.TextBox("Dienthoai")
                                        <h4 class="alert-danger wthree-field">@ViewData["Loi6"]</h4>
                                    </td>
                                </div>

                                <div class="form-input">
                                    <h4>Ngày sinh</h4>

                                    <td>

                                        <input type="date" name="Ngaysinh" />
                                        <h4 class="alert-danger wthree-field">@ViewData["Loi7"]</h4>
                                    </td>
                                </div>



                                <label class="container">
                                    <input type="checkbox"> <span class="checkmark"></span>
                                    Bạn đồng ý với <a href="#">quy định</a> và <a href="#">điều khoản </a>của chúng tôi
                                </label>
                                <button class="btn">Tạo tài khoản</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //SignUp-section -->
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- //index-block1 -->
    </body>
<!-- //Body -->