@model IEnumerable<DoAnMon.Models.BoDe>
@{
    ViewBag.Title = "TestBank";
    Layout = "~/Views/_LayoutPage2.cshtml";
}
<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Thư Viện Đề</h2>
        </div>
        <a @Html.ActionLink("Trang chủ Đăng Nhập", "LoginIndex", "LoginHome")</a> » <span class="breadcrumb_last" aria-current="page">Thư Viện Đề</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- //index-block1 -->
<section class="w3l-blog">
    <div class="single blog pb-5 pt-md-4 pt-2">
        <div class="container pb-lg-3">
            <div class="row">
                <!-- left side blog post content -->
                <div class="blog-posts col-lg-8 pr-lg-0">
                    <div class="row">
                        @foreach (var dethi in Model)
                        {
                            <div class="col-md-6">
                                <div class="blog-post">
                                    <div class="blg-img">
                                        <img alt="@dethi.TenBoDe" class="img-fluid" src="~/images/@dethi.AnhBia" />
                                    </div>
                                    <a href="@Url.Action("DeTails", "LoginHome", new {id = dethi.MaBoDe})">
                                        <div class="btom-cont">
                                            <h5 class="card-title"> <span>@dethi.TenBoDe</span></h5>
                                            <ul class="admin-post">
                                                <li>
                                                    <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-user-o"></span> Alexander</a>
                                                </li>
                                                <li>
                                                    <span class="fa fa-clock-o"></span>@dethi.NgaycapNhat
                                                </li>

                                            </ul>
                                            <a href="https://localhost:44346/LoginHome/TestPost" class="blog-btn mt-3">Xem thêm<span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- pagination -->
                    <div class="pagination-wrapper mt-lg-5">
                        <ul class="page-pagination">
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#url">2</a></li>
                            <li><a class="page-numbers" href="#url">3</a></li>
                            <li><a class="page-numbers" href="#url">4</a></li>
                            <li><a class="page-numbers" href="#url">....</a></li>
                            <li><a class="page-numbers" href="#url">15</a></li>
                            <li><a class="next" href="#url"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- left side blog post content -->
                <!-- right side bar -->
                <div class="right-side-bar col-lg-4 pl-lg-5">
                    <aside class="posts p-4">
                        @Html.Action("MucBoDe","LoginHome")
                    </aside>
                    <aside class="posts p-4">
                        <h3 class="aside-title">Nội dung vừa cập nhật</h3>
                        <div class="posts-grids">
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="/images/b52.jpg" alt=" " class="img-fluid img-curve">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <h4>
                                        <a href="https://localhost:44346/LoginHome/TestPost" class="text-bl">Bộ đề A1 - Đề 1</a>
                                    </h4>
                                    <span> <span class="fa fa-clock-o"></span>24/7/2021</span>
                                </div>
                            </div>
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="/images/b22.jpg" alt=" " class="img-fluid img-curve">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <h4>
                                        <a href="https://localhost:44346/LoginHome/TestPost" class="text-bl">Bộ đề A1 - Đề 2</a>
                                    </h4>
                                    <span> <span class="fa fa-clock-o"></span>24/7/2021</span>
                                </div>
                            </div>
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="/images/b32.jpg" alt=" " class="img-fluid img-curve">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <h4>
                                        <a href="https://localhost:44346/LoginHome/TestPost" class="text-bl">Bộ đề A1 - Đề 5</a>
                                    </h4>
                                    <span> <span class="fa fa-clock-o"></span>24/7/2021</span>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!-- //right side bar -->
                </div>

            </div>
        </div>
</section>